include "modules/general.kdl"
include "modules/input.kdl"
include "modules/layout.kdl"
include "modules/monitors.kdl"
include "modules/binds.kdl"
// DMS Include Configs
include "dms/layout.kdl"
include "dms/binds.kdl"
include "dms/outputs.kdl"
include "dms/cursor.kdl"
